body{
    font-family: 'Oswald', sans-serif;
}
.color{
    color: rgba(36, 17, 206, 0.295);
}
h1{
    font-size: 50px;
}
.recipe-guide{
    display: flex;
}
.half-bg{
    width: 50%;
    padding-left: 10%;
    margin-bottom: 120px;
}
.half-bg img{
    width: 80%;
}
.food-order{
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 10px 30px;
    border-radius: 7px;
    color: black;
    font-weight: 800;
}
.bg-image{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}
.my-recipe{
    text-align: center;
    color: dimgray;
    margin: 50px auto;
    margin-bottom: 50px;
    padding-bottom: 15px;
}
.recipes-list{
    display: flex;
    width: 30%;
    padding-left: 10px;
}
.first-recipe{
    margin-left:15%;
    margin-right:15%;
    box-shadow:10px 10px 20px red;
}
.second-recipe{
    margin-left:15%;
    margin-right:15%;
    box-shadow:10px 10px 20px red;
}
.third-recipe{
    margin-left:15%;
    margin-right:15%;
    box-shadow:10px 10px 20px red;
}

.recipes-list img{
    height: 200px;
    width: 200px;
    border-radius: 1px;
}
.second-recipe img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 15px 15px;
}
.third-recipe img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
